#result {
  display: none;
  background-color: white;
  width: 80%;
  text-align: center;
}

#shareResult {
  background-color: white;
  width: 100%;
  text-align: center;
}

.resultDesc {
  font-size: 26px;
}

.resultName {
  font-size: 20px;
}

.twitter {
  color: white;
  background-color: #1DA1F2;
  font-size: 20px;
  width : 100%;
  height: 60px;
  line-height: normal;
}

.twitter:hover, .twitter:focus {
  background-color: whitesmoke;
  color: #1DA1F2;
}

.kakao {
  color: white;
  background-color: #FEE500;
  font-size: 20px;
  width : 100%;
  height: 60px;
  line-height: normal;
}

.kakao:hover, .kakao:focus {
  background-color: whitesmoke;
  color: #FEE500;
}

.goHome {
  color: white;
  background-color: pink;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.kakao:hover, .kakao:focus {
  background-color: whitesmoke;
  color: pink;
}

.youtube{
  border: 0;
}

.twitch{
  border: 0;
}
